.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 30%;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

#card1{
  background-image: url(../../images/card1.jpg);
}

#card2{
  background-image: url(../../images/card2.jpg);
}

#card3{
  background-image: url(../../images/card3.jpg);
}

#card4{
  background-image: url(../../images/card4.jpg);
}
#card5{
  background-image: url(../../images/card5.jpg);
}






